* {
    margin: 0;
}

/* header styles */
.banner {
    background-image: url("../images/banner/banner3.png");
    background-size: cover;
    height: 100vh;
    justify-content: center;
    text-align: left;
    padding: 100px 100px 50px 50px;
}

.header-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(247, 245, 245);
}

.header-description {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(247, 245, 245);
}

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(247, 245, 245);
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    color: rgb(31, 169, 228);
}

/* first-section styles */
.first-section {
    display: flex;
    gap: 30px;
    padding: 100px;
}

.first-section-info {
    padding: 200px;
}

.first-section-header {
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 25px;
}

.first-section-description {
    font-size: 16px;
    font-weight: 300;
    font-family: serif;
    margin-bottom: 25px;
    color: rgb(57, 55, 55);
}

ul li {
    font-size: 15px;
    font-weight: 300;
    font-family: serif;
    color: rgb(57, 55, 55);
    list-style-type: none;
}

/* plans styles */
.plans {
    padding: 40px 150px;
}

.plans-header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.plans-div {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
}

.web {
    padding: 50px;
}

.web img {
    margin-bottom: 25px;
}

.java {
    padding: 50px;
}

.habit {
    padding: 50px;
}

.ecom {
    padding: 50px;
}

.plans-img {
    margin-bottom: 20px;
}

.plan-subtitle {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
}

.plan-description {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: grey;
}

/* gradient styles */
.gradient-div {
    height: 300px;
    width: 1140px;
    border: 1px solid black;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

/* footer styles */
.footer {
    display: flex;
    gap: 24px;
    color: white;
    background-color: black;
    justify-content: center;
    padding: 100px 200px;
}

.footer-part1 {
    padding:0 50px;
}

.footer-note {
    padding-right: 100px;
    font-family: sans-serif;
    width: 50%;
}

.footer-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-description {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400px;
}

.footer-email {
    margin-bottom: 15px;
}

.footer-phn {
    margin-bottom: 15px;
}

.footer-img {
    display: flex;
    gap: 24px;
}

p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.mail {
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 15px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subscribe {
    background-color: rgb(31, 126, 228);
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 18px;

}